{% extends 'examapp/index.html' %}
   
{% block content %}
<div class="container px-1">
  <h5>ABOUT US</h5>

  <p>From the very first phone call, made at Maritime House Apapa on May 16 2001, we’ve been facilitating connections that matter. The continued support and patronage of our customers have made our growth and success possible. Today, MTN Nigeria is one of Africa’s largest providers of communications services, connecting approximately 69 million people in communities across the country with each other and the world.  Our leadership position in coverage, capacity and innovation has remained constant since its launch in 2001.
<br> <br>
    Our vision is to lead the delivery of a bold, new digital world to our customers and our purpose is to make Nigerian lives a whole lot BRIGHTER by delivering relevant, accessible, high-quality telecommunications solutions that put them in control.
    <br><br>
    <strong>We believe everyone deserves the benefits of a modern connected life.</strong> 
    <br> <br>
    Guided by the philosophy of shared prosperity, we believe that the success and growth of our business is tied to the wellbeing and success of the communities in which we operate.
    <br> <br>
    A proudly Nigerian company, we are committed to the growth of the economy and the progress of our people. We understand that with real access and support, there is nothing Nigerians cannot achieve.
    <br> <br>
    Over the years, we have borne witness to the innovation, drive, and resilience that is at the heart of Nigeria. The opportunity to play a role in the nation’s evolution has been our privilege and greatest achievement.
    <br> <br>
    MTN Nigeria is part of the MTN Group – a multinational telecommunications group, which operates in 21 countries in Africa and the Middle East
    <br> <br>
    We have done beautiful things together and there is still much more to be done. If the last decade and more have taught us anything, it is how much we can achieve when we work together.
    <br><br>
    We are certain that we will continue to make headlines together in the years ahead.</p>
  </div>
  {% endblock content %}
