
   {% extends 'examapp/index.html' %}
   
   {% block content %}
   <div class="container" >
  <h3 text="primary">CONTACT US</h3> 
  <h5>Just Say Y’ello, <br>
    We are here for you 24/7…
    
    Our dedicated Customer Care representatives are available on a 24-hour basis
    to attend to all your inquiries, complaints, and basic service needs.</h5> <br>    
    
    <h6>Stay in touch with the details below:</h6>
    <br>
    
    <ol>

   <li>Address
    MTN Plaza, Awolowo Road,
    
    Ikoyi 101233,
    
    Lagos, Nigeria
    
    Call
    From an MTN line: 180
    From other networks: 08031000180
    From outside the country: +2348031000180</li> <br>
    
    <li>
    Email
    Send us an email:
    customercare.ng@mtn.com </li>  <br>
    <li>
    MTN Stores
    Visit any MTN Service Centre closest to you.</li> <br>
    <li>
    Facebook
    http://www.facebook.com/MTNLoaded <br>
    
    Twitter
    https://twitter.com/MTNNG/
    https://twitter.com/MTN180 (Customer Service) <br>
    
    Instagram
    https://www.instagram.com/mtnng <br>
    
    WhatsApp
    09033000001
    
    Live Chat
    <a href="https://wa.me/2349033000001 ">Click HERE</a> to chat with a customer
    care agent</li>
    
  </ol>
<strong> MyCustomer®…Our promise to serve.</strong>
</div> 
  
     {% endblock content %}